language: python

python:
  - "nightly"
  - "3.8"
  - "3.7"
  - "3.6"
  - "3.5"
  - "pypy3"
  # - "3.9"
  # 3.9 doesn't exist yet.
install:
  # - pip install pytest-asyncio
  - pip install -r requirements.txt
script:
  - pytest tests/ -vvv
cache: pip
matrix:
  fast_finish: true
  allow_failures:
    - python: "nightly"
    # - python: "pypy3"
    # pypy3 is 3.6 so....
notifications:
  email:
    recipients:
      - bryan.hu.cn@gmail.com
    on_success: change # default: change
    on_failure: always # default: always
git:
  quiet: true
